html {
  box-sizing: border-box;
  font-size: 0.625rem;
  background: #8e24aa;
  background: #5c038f;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: ArialRounded, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.display__time-left {
  font-style: normal;
  font-weight: 700;
  font-size: 11rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.timer {
  display: flex;
  flex-direction: row;
  background-color: #5c038f;
}

.timer__controls {
  display: flex;
  flex: 1;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 2rem;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  width: 16vw;
  margin:  0 8px ;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  background:#5c038f;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: "Inconsolata", monospace;
}
@media screen and (max-width: 991px) {
  .timer__button {
     width: 70vw !important;
     
  }
 
}
.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.display {
  background-color: greenyellow;
  padding: 1.25rem 5% 1.875rem;

  margin-bottom: 1.25rem;
  margin-top: 1.25rem ;
  box-shadow: 3px 3px 10px #dfd5cfd3, -1px 0 .5em #aaa78cb2;
  filter: drop-shadow(0px 18px 18px rgba(0, 0, 0, 0.966));
}

.display__end-time {
  font-size: 5rem;
  color:grey;
}

.desc{
  color: rgb(238, 240, 241);
  font-size: 18px;
  line-height: 1.6em;
  height: 80vh;
  width: 100%;
  /* margin: auto; */
  padding: 12% 12%;
 background-color: #5c038f;
  text-align: center;
}
.display__time-left > p {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .timer {
    background-color: #5c038f;
    font-size: 1rem;
  }
  .display__end-time {
    color: rgb(243, 144, 16);
  }
}

.social__icon--link {
  color: #fff;
  font-size: 3.5rem;
}
.small-font{
  font-size: 4rem;
}
.topnav .icon {
  display: none;
}
