html {
  box-sizing: border-box;
  font-size: 10px;
  background: #8e24aa;
  background:  #5c038f ;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: ArialRounded, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.display__time-left {
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.timer {
  display: flex;
  flex-direction: row;
}

.timer__controls {
  display: flex;
  flex: 1;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 2rem;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: "Inconsolata", monospace;
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.display__end-time {
  font-size: 4rem;
  color: white;
}

.description {
  color: aliceblue;
  font-size: 18px;
    line-height: 1.6em;
    max-width: 100rem;
    margin: auto;
    padding: 0 12px;
}
.display__time-left >p{
  font-size: 35px;
}
@media screen and (max-width: 768px){
  .timer {
    background-color: yellow;
  }
}